[submodule "heimdall-api"]
	path = heimdall-api
	url = https://github.com/TReed1104/heimdall-api
[submodule "heimdall-frontend"]
	path = heimdall-frontend
	url = https://github.com/TReed1104/heimdall-frontend
[submodule "mimir-api"]
	path = mimir-api
	url = https://github.com/TReed1104/mimir-api
