[submodule "heimdall-remote-monitor"]
	path = heimdall-remote-monitor
	url = https://github.com/TReed1104/heimdall-remote-monitor.git
[submodule "mimir-timetabling"]
	path = mimir-timetabling
	url = https://github.com/TReed1104/mimir-timetabling.git
[submodule "yggdrasil-content-carousel"]
	path = yggdrasil-content-carousel
	url = https://github.com/TReed1104/yggdrasil-content-carousel.git
